/target


# Mac hidden files
.DS_Store

#folders
.vscode/*
test-orig/*
test-dedup/*
test-split/*
test-compressed/*

# exception to the rule
!test-orig/.gitkeep
!test-dedup/.gitkeep
!test-split/.gitkeep